[2020-07-14 09:28] aboullaite opened #1 "Add getting started guide, to quickly help new comers to play with the bot"
The readme describe very well how to get the app running, however it doesn't describe how to integrate it with messenger nor how to test the bot. We need to add documentation to cover this part

[2020-07-14 09:34] aboullaite opened #2 "Describe project structure"
We should make it easier for new contributors to understand how the project is structured and how they can contribute back. For example we're having multiple docker-compose files each for a specific use case, this can be a bit confusing for contributors. We need to put a clear, well documented project structur.

[2020-07-14 09:40] aboullaite opened #3 "Review bot messages For typos"
The bot messages contains some minor typos. Head over to `src/services/messenger.py` and review those messages, and fix any typos you find

[2020-07-14 11:02] elinguiuriel opened #4 "French Translation"
Use Babel for flask : https://pythonhosted.org/Flask-Babel/

[2020-07-14 15:22] elinguiuriel opened #7 "Enhance the getting started Documentation"
Enhance the documentation in the README.md to be easy to follow by new contributor like : https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing

[2020-07-16 13:48] caabernathy opened #8 "Reword prompt that asks about version control"
#### Is your feature request related to a problem? Please describe.
A slight improvement in grammar could be made for one of the prompts. See below:

![Screen Shot 2020-07-16 at 8 46 05 AM](https://user-images.githubusercontent.com/691109/87678650-d09ce900-c740-11ea-92c3-9126772490d9.png)

The phrase "version control tools" doesn't seem quite right in this context.

#### Describe the solution you'

[2020-07-16 13:57] caabernathy opened #9 "Fix text snippet in version control explanation"
#### Describe the bug
The last text snippet where version control is introduced needs an improvement.

#### To Reproduce
Steps to reproduce the behavior:
1. Get started with the chatbot.
2. Answer yes when asked if you know what Open source is.
3. Answer not yet when asked if you are familiar with version control.
4. See the problematic text. The text "That" is in uppercase when it doesn't need to

[2020-07-16 14:05] caabernathy opened #10 "Remove unneeded punctuation in Git install prompt"
#### Describe the bug
The snippet inviting you to install git has an unneeded punctuation at the end.

#### To Reproduce
Steps to reproduce the behavior:
1. Answer questions from the bot that you know about open source, are not familiar with version control, and that you would like to get started with Git.
2. Tap Install Git and check out the next prompt.
3. After the exclamation mark there is an

[2020-07-16 14:10] caabernathy opened #11 "Typo in download Git instruction"
#### Describe the bug
There is a typo in the text with instructions to download Git. The sentence can also be improved slightly.

#### To Reproduce
Steps to reproduce the behavior:
1. Answer questions from the bot that you know about open source, are not familiar with version control, and that you would like to get started with Git.
2. Tap Install Git and check out the next prompt.
3. There is a t

[2020-07-16 14:15] caabernathy opened #12 "Add email replacement to Git configure step"
#### The problem
The Configure Git steps mention replacing the name in the example but doesn't mention replacing the email.

#### Describe the solution you'd like
I suggest making the email replacement a specific instruction.

#### Screenshot
![Screen Shot 2020-07-16 at 9 11 53 AM](https://user-images.githubusercontent.com/691109/87681917-d7c5f600-c744-11ea-8d7a-48b6a3e86e49.png)

[2020-07-16 14:29] caabernathy opened #13 "Link to source code doesn't go to the repo"
#### Describe the bug
Clicking on the source code option doesn't take you to the repo.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to the main menu.
2. Select **Fork me on GitHub**.
3. Click **The Source Code**.
4. A browser opens up that takes you to https://github.com/

#### Expected behavior
Clicking the source code option should go to https://github.com/fbdevelopercircles/open-so

[2020-07-16 14:40] hoduchieu01 opened #14 "Typo in Facebook Open Source!"
#### Describe the bug
There are some typos in the text with instructions to go https://opensource.facebook.com/projects

#### To Reproduce
Steps to reproduce the behavior:
1. Go to Facebook 🧡 Open Source!
2. There are some typos in the text with instructions to go https://opensource.facebook.com/projects

#### Expected behavior
1. Text should follow the content of website:
✔️ Android
✔️ Artificial

[2020-07-16 14:57] hoduchieu01 opened #15 "Change the text of options in Fork me on Github"
#### Describe the bug
There are some typos in the 'Fork me on Github' section

#### To Reproduce
Steps to reproduce the behavior:
1. Go to 'Main Menu'
2. Click on 'Fork me on Github'

#### Expected behavior
This message can be seen as:

- **Select an option**

#### Screenshots
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/23649434/8

[2020-07-17 07:47] #4 closed

[2020-07-17 07:48] #14 closed

[2020-07-17 07:48] #13 closed

[2020-07-17 07:49] #15 closed

[2020-07-17 12:45] PrashanthPuneriya commented on #12
@caabernathy @elinguiuriel I would like to work on this issue.

[2020-07-17 12:48] aboullaite commented on #12
Awesome @PrashanthPuneriya🎉! I assigned it to you 🙏 do not hesitate to ping us for any clarifications.

Looking forward to your PR.

[2020-07-17 13:11] PrashanthPuneriya opened #20 "Bug: Failed to find Flask application or factory in module "wsgi"."
#### Describe the bug
After setting up the project as described in the [docs](https://github.com/fbdevelopercircles/open-source-edu-bot#using-a-virtual-environment). When I try to run using `flask run` command it throws error as follows:-

#### To Reproduce
Steps to reproduce the behavior:
1. Set up the project as described in the [docs](https://github.com/fbdevelopercircles/open-source-edu-bot#us

[2020-07-17 13:40] aboullaite commented on #20
@elinguiuriel any thoughts ?

[2020-07-17 13:42] PrashanthPuneriya commented on #20
@aboullaite Sorry for creating a PR before discussing. Didn't get your comment notification. Also please review the PR.

[2020-07-17 13:48] aboullaite commented on #20
@PrashanthPuneriya it's fine! I've asked review from @elinguiuriel as he's the one who put it first, probably he can add more insight.
Thank you for reporting and suggesting a quick fix 🙏

[2020-07-17 13:58] PrashanthPuneriya commented on #1
@aboullaite Can you point me to the resources to learn about this?

[2020-07-17 17:04] aboullaite commented on #1
@PrashanthPuneriya something like this one https://developers.facebook.com/docs/messenger-platform/getting-started/sample-apps/original-coast-clothing#deploy

[2020-07-17 19:11] caabernathy opened #24 "URL to check the webhook is incorrect"
#### Describe the bug
There is a small error in the webhook URL

#### To Reproduce
Steps to reproduce the behavior:
1. Go to https://github.com/fbdevelopercircles/open-source-edu-bot
2. Go through the setup steps and run the URL mentioned to test the webhook
3. There is no response to the cURL command

#### Expected behavior
`CHALLENGE_ACCEPTED` should be echoed back

If you check the URL in the R

[2020-07-17 19:19] caabernathy opened #25 "Add information on what to expect when checking the webhook."
#### Is your feature request related to a problem? Please describe.

Currently the README simply tells you to run a check to test the webhook but doesn't give guidance on what to expect.

#### Describe the solution you'd like
Add instructions based on the [content here](https://developers.facebook.com/docs/messenger-platform/getting-started/webhook-setup/). Here's what the relevant part states.

I

[2020-07-18 10:59] #20 closed

[2020-07-18 11:05] Awinja-j opened #27 "Change DB Configuration from sqlite to Postgres"
#### Describe the bug
Currently the code has sqlite configuration, this should be changed to Postgres

#### Steps to take
Steps to reproduce the behavior:
1. Install psycopg
2. Install flask-sqlalchemy
3. freeze requirements.txt
4. create models folder and add -> __init__.py, game_users.py, messages.py

[2020-07-20 09:24] PrashanthPuneriya opened #30 "Remove unrequired wsgi.py file"
#### Describe the bug
After refactoring the project we no longer need [wsgi.py](https://github.com/fbdevelopercircles/open-source-edu-bot/blob/master/src/wsgi.py) file. So, removing it would make the project cleaner.

#### To Reproduce
Steps to reproduce the behavior:
1. Go to the root directory of the project.
2. Navigate to src folder.
3. See wsgi.py file.

[2020-07-20 12:55] #30 closed

[2020-07-21 03:21] #25 closed

[2020-07-21 03:50] elinguiuriel opened #33 "Removing user as global variable"
#### Describe the bug
Making user global can cause side effect when multiple users are using the bot at the same time. the name of a user can be echoes to another user.

[2020-07-21 03:53] elinguiuriel opened #34 "Adding a new postback for promoting pull request"
#### Describe the solution you'd like
In the main menu off the bot and in session reached by that learned git we should show them how to make their first pull request on a open source project

[2020-07-21 04:16] elinguiuriel opened #35 "Making the Flask App Asynchronous"
#### Is your feature request related to a problem? Please describe.
With a synchronous implementation, the chatbot can often reply the same message multiple time. to avoid that we need to use and asynchronous implementation.

#### Describe the solution you'd like
I would like the Flask project the be asynchronous using package like asyncio,

#### Documentation
For more information about how to do

[2020-07-21 09:57] #9 closed

[2020-07-21 10:37] aboullaite commented on #7
@elinguiuriel Can you add more details to this issue! Something like a checklist of the enhancement you want to be added could help contributors to grasp what's needed

[2020-07-21 10:48] aboullaite opened #37 "Add contributors map"
#### Is your feature request related to a problem? Please describe.
We've been discussing in #34 #26 some ways to include contributors. relying on HoF and All contributors bot won't be possible in the near future, since those bots can't be added to organizations.

#### Describe the solution you'd like
What I suggest is adding a YAML file where each contributor/open source learner will add his deta

[2020-07-21 16:14] vj-codes commented on #10
Heyy @caabernathy I would like to fix this

[2020-07-21 16:27] aboullaite commented on #10
@vj-codes please go ahead 🙏 thanks for your help

[2020-07-21 17:05] vj-codes commented on #8
I would like to fix this @caabernathy @aboullaite

[2020-07-21 17:26] vj-codes commented on #12
@aboullaite Can I fix this too if the person assigned has not created a PR yet?

[2020-07-21 17:34] aboullaite commented on #12
@vj-codes i think @PrashanthPuneriya is working on it! Let's give him more time :)

[2020-07-21 17:39] vj-codes commented on #12
Yes sure:)

[2020-07-21 18:00] #10 closed

[2020-07-22 04:20] PrashanthPuneriya commented on #12
@aboullaite I could create a PR right now without understanding the codebase. But, I am learning bit by bit about GraphQL and messenger bot to get a greater understanding of the codebase. So, it is taking me longer than anticipated to create a PR.
@vj-codes I will inform you when I don't expect myself of creating a PR.

[2020-07-22 09:27] aboullaite commented on #12
Hey @PrashanthPuneriya, graphql is great, but i dont see why ypu need it here ?

[2020-07-22 10:57] PrashanthPuneriya commented on #12
@aboullaite Oh! Don't we need it here? I came across `webhooks` and `tokens` terms within this project. So, I thought of learning GraphQL as well. Anyway,
I learned GraphQL not knowing that we won't require them in this project. There is no harm in learning. :)

[2020-07-22 11:06] aboullaite commented on #12
@PrashanthPuneriya absolutely! Just wanted to know if I missed something 👍

[2020-07-22 11:13] #12 closed

[2020-07-24 04:48] khalifeh55 commented on #33
I am interested on this one.

[2020-07-24 13:13] aboullaite commented on #33
@khalifeh55 Thanks for your interest! I assigned this issue to you. Please let us know if you have any question 👍

[2020-07-24 15:58] vj-codes commented on #8
@aboullaite sorry to ping again but may I work on this?

[2020-07-24 17:30] aboullaite commented on #8
Oh sorry @vj-codes! I missed this one! Yes sure, thanks for helping on this. I assigned it to you

[2020-07-25 17:13] vj-codes opened #48 "Improve installation documentation in Readme"
#### Describe the bug
1)For Windows cmd users -
cp .sample.env .env should be changed to **copy .sample.env .env**

2)For Windows cmd users -
export FLASK_APP fbosbot ,export FLASK_RUN_HOST 0.0.0.0 ,export FLASK_ENV development
should be changed to
**set FLASK_APP fbosbot
set FLASK_RUN_HOST 0.0.0.0
set FLASK_ENV development**

#### To Reproduce
Steps to reproduce the behavior:
1. Go to Readme >>In

[2020-07-25 17:14] vj-codes commented on #48
@aboullaite @caabernathy I faced this while setting up the repo.
Can I work on this?

[2020-07-25 19:18] aboullaite commented on #48
For 1) i thing a better wording would be to advice to rename the file instead of using *unix commands!
For 2) i suggest to add a windows section.

Thanks for reporting this, feel free to submit a fix 🙏

[2020-07-25 20:43] aboullaite opened #49 "`Discover Github` attachment does not appear"
#### Describe the bug
Discover Github attachment doesn't appear when user click `next` quick reply in Github track
<img width="602" alt="Screen Shot 2020-07-25 at 9 39 06 PM" src="https://user-images.githubusercontent.com/2836850/88465986-ab864400-cebf-11ea-8900-7f084414c11a.png">

#### To Reproduce
Steps to reproduce the behavior:
1. Choose Github Track
2. Hit `Next`
3. Nothing appears
#### Expec

[2020-07-26 10:15] vj-codes commented on #48
@aboullaite Didn't get you for first one?Can you explain again please , I'm new here which file should be changed?

[2020-07-26 11:14] elinguiuriel commented on #49
@aboullaite  you tried to put 4 buttons in the template, the maximum number is 3:
https://developers.facebook.com/docs/messenger-platform/send-messages/template/generic

[code]

Delete the most irrelevant button and fix it the declaration [here](https://github.com/fbdevelopercircles/open-source-edu-bot/blob/aceff64d99dc2d9efd47535ca772bcb6657cc9e8/src/services/messenger.py#L366)

[2020-07-26 11:23] #34 closed

[2020-07-26 12:34] aboullaite commented on #48
Your approach in the first one is valid! My suggestion is to replace the copy word by rename the file to `.env`

[2020-07-27 11:29] elinguiuriel opened #51 "Delete ENV Export in README.md"
No need to export environment variables, they are already defined in `.sample.env`

[code]
We should delete this section !

[2020-07-27 11:38] aboullaite commented on #51
I assume this should be deleted from the Readme file

[2020-07-27 14:23] #49 closed

[2020-07-27 14:26] vj-codes commented on #51
hey @elinguiuriel can I fix this?

[2020-07-27 14:32] aboullaite commented on #51
@vj-codes you're just on fire 🔥 . Assigned to you

[2020-07-27 14:33] #48 closed

[2020-07-27 20:30] #51 closed

[2020-07-27 22:36] #8 closed

[2020-07-27 22:37] #24 closed

[2020-07-27 22:37] #11 closed

[2020-07-28 09:45] aboullaite opened #57 "Internalization: Add your local language"
#### Is your feature request related to a problem? Please describe.
The bot interact with users with english. We can customize the user experience by adding support for i18n. If you're interested in adding support for a language, please follow the steps below:

1. **Determine the language code**
The `ISO 639-1` standard defines two-letter codes for languages. Find the two-letter codes of the langu

[2020-07-28 11:05] vj-codes commented on #27
@aboullaite I would like to fix this!
 psycopg and flask sqlachemy should be done in requirements.txt right?

[2020-07-28 11:07] Awinja-j commented on #27
@vj-codes yes!

[2020-07-28 11:26] vj-codes opened #58 "ModuleNotFoundError : no module named 'fbosbot'"
#### Describe the bug
When I follow the installation steps and run this error shows up

#### Expected behavior
The project should run locally

#### Screenshots
If applicable, add screenshots to help explain your problem.

![Screenshot (35)](https://user-images.githubusercontent.com/60894542/88659223-55e5ad80-d0f2-11ea-9f26-4a0c0dfc4e38.png)
![Screenshot (37)](https://user-images.githubusercontent.

[2020-07-28 14:19] elinguiuriel commented on #58
There is not root endpoint `/` in the app, and the app is not intend to be use as web app, try [localhost:5000/privacy.html](http://localhost:5000/privacy.html) and tel us if it works!

[2020-07-28 14:29] aboullaite commented on #58
Thanks @elinguiuriel for the quick hint! I think we could fix this by adding a static page that point the user to the right setup! I think it will hep to avoid this in the future

[2020-07-28 14:37] vj-codes commented on #58
Didn't work @aboullaite @elinguiuriel

[2020-07-28 14:55] elinguiuriel commented on #58
You didn't exactly follow the documentation, you have to be in the `src` folder before doing `flask run`

[2020-07-28 15:29] vj-codes commented on #58
@elinguiuriel Thanks ,sorry my bad.I changed still the error persists. Do you think it might be due to the .env file?I have adapted it acc to the tokens generated except the 'FB_VERIFY_TOKEN' which I put randomly as I couldn't find any way to generate it.
![Screenshot (38)](https://user-images.githubusercontent.com/60894542/88686897-2dbb7600-d115-11ea-9b0e-1c3e94a8e219.png)

[2020-07-28 18:01] mohitacecode commented on #58
I am facing the same error.

[2020-07-28 18:40] mohitacecode commented on #37
is making web page is still pending if yes I would love to make it. :) @aboullaite

[2020-07-28 19:38] aboullaite commented on #37
Yes @mohitacecode it is! Please feel free to work on it, your contribution is very welcomed. Thanks

[2020-07-29 06:33] pixan198 opened #61 "Error: Could not import "fbosbot"."
#### Describe the bug
This error shows up when I try to start the application using `flask run`

#### To Reproduce
Steps to reproduce the behavior:
1. Follow steps mentioned in [README.md](https://github.com/fbdevelopercircles/open-source-edu-bot/blob/master/README.md)
2. After compiling localization files run `flask run`
3. See Error

#### Expected behavior
The Project should run locally.

#### S

[2020-07-29 10:53] elinguiuriel commented on #58
We have to revert this issue #51 because it cause problem on windows environments :

[code]

[2020-07-29 10:57] aboullaite commented on #58
@elinguiuriel is the .env file not enough ? is there any specific command/libraries to make it work on windows and load env variables ?

[2020-07-29 11:27] elinguiuriel commented on #61
I reverted issue #51 as a quick fix, we will find a solution to resolve the problem after, but you can now run the app by reading the current READM.md file with environment variable exported manually!

[2020-07-29 11:29] elinguiuriel commented on #58
`python-dotenv` should work but it seams to have issues finding the .env file on windows

[2020-07-29 11:34] vj-codes commented on #58
It works for my other similar repos on windows though I don't know why this one is causing problems.

[2020-07-29 11:51] vj-codes commented on #61
@pixan198 environment should be development not production

[2020-07-29 12:00] aboullaite commented on #58
@vj-codes can you help us investigate what the issue and probably a fix ?

[2020-07-29 12:20] vj-codes commented on #58
Sure I'll be more than happy to! @aboullaite

[2020-07-29 12:31] vj-codes commented on #58
@aboullaite It will be also helpful if issue #1 is fixed .Also can you confirm whether  'FB_VERIFY_TOKEN' is a random sting or has to generated?Thanks!

[2020-07-29 13:06] elinguiuriel commented on #61
By default the code is set for production, if you want to develop edit the variable and put `development`

[2020-07-29 13:28] pixan198 commented on #61
@elinguiuriel @vj-codes Thanks for the help, fixed it :sparkles:
but getting the same error as in #58

[2020-07-29 13:39] aboullaite commented on #58
You're right about `FB_VERIFY_TOKEN`

[2020-07-29 15:49] vj-codes opened #64 "Improper ENV syntax"
#### Describe the bug
When I follow instructions in Readme.md to export ENV variables , they cannot be defined due to absence of equal to '=' sign.

#### Solution
Add an '=' sign .Screenshot below shows it works properly then.

#### Screenshots
If applicable, add screenshots to help explain your problem.

![Screenshot (42)](https://user-images.githubusercontent.com/60894542/88822210-32e5f700-d1e1-

[2020-07-29 15:50] vj-codes commented on #64
@aboullaite hey this is a minor change , may I fix this?

[2020-07-29 16:24] elinguiuriel commented on #64
got ahead please!

[2020-07-29 17:33] vj-codes commented on #64
Quick ques :Will the '=' sign be required for non-windows user as I only use windows and don't know about other ones? @elinguiuriel

[2020-07-29 19:18] ChiragTutlani commented on #57
I will take up of translating it to hindi (ISO 639-1 code: hi).

[2020-07-29 19:27] aboullaite commented on #57
Awesome @ChiragTutlani 🎉 please do not hesitate to reach oit if you need any assistance 👌

[2020-07-29 21:31] elinguiuriel commented on #64
@vj-codes put `=` for both as you can see here : https://flask.palletsprojects.com/en/1.1.x/tutorial/factory/

[2020-07-29 21:33] elinguiuriel commented on #61
@pixan198 you actually have to use

[code]

we forget the `=` sign, you can have more information [here](https://flask.palletsprojects.com/en/1.1.x/tutorial/factory/)

[2020-07-29 21:55] elinguiuriel commented on #57
@ChiragTutlani I made an update to describe how to translate ``GREETINGS` and `PERSISTANT_MENU` take a look [here](https://github.com/fbdevelopercircles/open-source-edu-bot/issues/57#issue-666934319)

[2020-07-29 22:37] elinguiuriel opened #66 "Adding https://m.me/OpenSourceChatbot in README.md"
The chatbot is deployed here : https://m.me/OpenSourceChatbot it will be good to have it in README.md so developers could test it before deploying it in the own page.

[2020-07-30 09:57] #64 closed

[2020-07-30 10:13] vj-codes commented on #27
@elinguiuriel the latest version of  psycopg is psycopg2 should that be installed instead?

[2020-07-30 10:22] vj-codes commented on #66
May I fix this? @elinguiuriel
What title it should come under : Deployment or Testing

[2020-07-30 11:04] Awinja-j commented on #27
@vj-codes yes, install the latest version.

[2020-07-30 11:51] elinguiuriel commented on #66
Go ahead, please !

[2020-07-30 20:40] #66 closed

[2020-07-31 13:44] vj-codes commented on #1
heyy I would like to fix this @aboullaite @elinguiuriel
how is this different from #7 ?

[2020-07-31 14:03] #61 closed

[2020-07-31 14:36] aboullaite commented on #58
@elinguiuriel i suggest to keep this issue open until we find a fix for `.env` file on windows. Explicitly adding env variables was more or a quick fix than a sustainable solution

[2020-07-31 14:57] PrashanthPuneriya commented on #58
@elinguiuriel @aboullaite @vj-codes @pixan198 Exporting the env variables **must** be done after you cd into `src`(root) folder. And my guess with `.env` file is that it should also be in `src`(root) folder/directory. Let me know if this fixed the issue.

[2020-07-31 15:10] PrashanthPuneriya commented on #58
After following the above procedure mentioned in the previous comment of mine(above) try accessing the privacy url as @elinguiuriel said in [this comment](https://github.com/fbdevelopercircles/open-source-edu-bot/issues/58#issuecomment-665068854) to check if it has fixed this issue or not.

[2020-07-31 16:35] aboullaite commented on #58
Can you submit a pr with the discussed fix ?

[2020-07-31 16:37] aboullaite commented on #1
@vj-codes you can consider this one as a sub-issue of #7! Check the link i mentionned above, and  feel free to submit. A PE

[2020-07-31 17:02] pixan198 commented on #58
@PrashanthPuneriya Thanks for the help :smiley: , your solution fixed this issue.

[2020-07-31 17:14] PrashanthPuneriya commented on #58
Okay! Will do it

[2020-07-31 18:14] vj-codes commented on #58
@PrashanthPuneriya it worked!
@elinguiuriel @aboullaite I did not export variables but as it was mentioned in earlier comment by @PrashanthPuneriya just changed the location of .env file into src folder.My suggestion would be to do the same and remove the export variables section from Readme.md same as issue #51 as .env does the same and repeating might not be benificial as well as cause confusion

[2020-07-31 18:16] vj-codes commented on #58
@aboullaite @elinguiuriel what I see after running is the privacy policy of chatbot , to test do I still need to do it through messenger?

[2020-07-31 19:44] aboullaite commented on #58
@vj-codes yes! Now you're sure the app is up and running. You need to setup a page and link it

[2020-08-01 10:34] ankitaggarwal23 commented on #7
Can I contribute in this project

[2020-08-01 10:47] elinguiuriel commented on #7
@ankitaggarwal23 please yourself! 👍

[2020-08-01 10:49] #58 closed

[2020-08-02 09:26] prilcool commented on #57
I added Simplified Chinese  (zh-Hans)   work in progress   in the locales folder ,
Welcome to  do a pull and  continue translation  after its merged  :)

[2020-08-02 10:50] ankitaggarwal23 commented on #57
i want to contribute in this issue

[2020-08-02 10:58] SrilalS commented on #57
Hi! I Would like to Take Translation to Sinhala (Code: si).

[2020-08-02 10:58] ankitaggarwal23 commented on #37
i would like to contribute

[2020-08-02 11:16] ankitaggarwal23 commented on #37
contributors.yaml updated #79

[2020-08-02 11:17] ankitaggarwal23 opened #80 "contributors.yaml updated #79"
contributors.yaml updated #79

[2020-08-02 11:17] #80 closed

[2020-08-02 11:31] vj-codes commented on #57
I would like to add German (code:de) translation!

[2020-08-02 11:35] elinguiuriel commented on #57
Are you a chinesse speaker ? Please only add a language if you are a native speaker.

[2020-08-02 11:36] elinguiuriel commented on #57
Are you a german speaker ?

[2020-08-02 11:40] elinguiuriel commented on #57
Great, first make sure the langage is supporter https://developers.facebook.com/docs/messenger-platform/messenger-profile/supported-locales
are you a native speaker or that language, or Can you have help from a native speaker ?

[2020-08-02 11:58] aboullaite commented on #57
@elinguiuriel being a native speaker is not necessary IMHO! Anyone who can correctly translate the messages is welcomed to open a PR as far is he's capable of completing it! Anyone who find issues on translation can submit improvements afterwards

[2020-08-02 11:58] vj-codes commented on #57
I'm a speaker , I know german as an additional language.If required I can ask a native speaker for PR review too. @elinguiuriel

[2020-08-02 12:11] prilcool commented on #27
Yes I agree  we should use MySQL or PostgreSQL .

Sqlite  should not be used if this is going to be a large scale application   since sqlite handles  read/write operations in a serialized way this will create bottle necks

[2020-08-02 13:34] SrilalS commented on #57
@aboullaite I Began the translation process for the Sinhala (Si). I have one question. there are some English words that have native words but those are less used and not understood by General Public. Should I made the translations in Pure Sinhala or Can I do it in Modern Sinhala?

[2020-08-02 13:35] SrilalS commented on #57
I'm a Native Speaker.

[2020-08-02 13:50] aboullaite commented on #57
@vj-codes please continue your amazing work 🙏
@SrilalS the goal is to be understandable, easy to use and help users. I think modern Sinhala is better base on what you described

[2020-08-02 14:40] elinguiuriel commented on #57
Just we have to make sure to not sacrifice on quality when pushing translation in production. Because we have no way of controling translation quality ! If someone is not fluent enough in a language I prefer that his translation should be validate by a fluent speakers before being merged.

[2020-08-02 14:46] elinguiuriel commented on #57
I am a german speaker too, but a very bad speaker. If you can find someone fluent to validate the first version, it will be great.
I ask this question because it is a lot of work, there is a lot of content in the app and being fluent help a lot.

[2020-08-02 14:55] aboullaite commented on #57
@elinguiurie, faor enough,l we could require review from devc community before merging! But bring a native speaker should not be the only criteria to suggest a PR 👍

[2020-08-02 15:19] aayushbisen commented on #57
#87

[2020-08-02 16:41] elinguiuriel commented on #57
Fluent or Native Speaker

[2020-08-02 18:10] Yannix commented on #57
French translation working for the menu but not working inside the bot. Seems that the translation process not applied while in the chat.

[2020-08-02 18:29] elinguiuriel commented on #57
I suspect that your Facebook language is not "Français (France)" or any other version or french, and your phone is localised in french. Make sure you have french everywhere

![Screenshot_20200802-182652_Messenger.jpg](https://user-images.githubusercontent.com/2127223/89129560-c2471f00-d4ed-11ea-8295-ccb37255035d.jpg)

[2020-08-02 18:32] vj-codes commented on #1
@aboullaite Can the title be 'Setting up your Messenger App' and the content is placed before installation in readme?

[2020-08-02 20:53] vj-codes opened #92 "Update Code of conduct link in Readme.md"
#### Describe the bug
The code of conduct link in readme takes the user to the main facebook page https://engineering.fb.com/codeofconduct/.
However this repository has the same as a separate .md file [here](https://github.com/fbdevelopercircles/open-source-edu-bot/blob/master/CODE_OF_CONDUCT.md) and the link should take the user to the file within the repo and not the other one.

[2020-08-02 20:53] vj-codes commented on #92
May I work on this ? @aboullaite @elinguiuriel

[2020-08-03 07:25] elinguiuriel commented on #92
@vj-codes please yourself 👍

[2020-08-03 20:27] vj-codes commented on #37
@aboullaite any resources for UI guidelines for Facebook led web pages?

[2020-08-03 21:06] vj-codes commented on #37
@aboullaite @caabernathy @elinguiuriel
I found there's a tool to automate contributors https://github.com/all-contributors/all-contributors-cli .
It's pretty easy to [install](https://allcontributors.org/docs/en/bot/installation) and a good solution for future .But it can be implemented by repo maintainers only :(
Let me know if something like this is allowed !

[2020-08-03 21:15] vj-codes commented on #3
found more typos will send a PR soon:)

[2020-08-03 21:15] aboullaite commented on #37
@vj-codes we already discussed it in #26! Its unfortunately not possible at the moment

[2020-08-03 21:22] vj-codes commented on #37
Yeah right completely missed seeing that sorry my bad

[2020-08-03 22:49] #92 closed

[2020-08-03 22:50] #1 closed

[2020-08-04 00:08] prilcool commented on #57
This is not all or nothing situation .
You can control the quality of what's being merged into the production branch .
You should accept submissions on the development branch
Than next invite the Global Devc community to vet the translations and have a vote on it , after all thats what the Devc Community is about .
I believe that would be a formal ,fun and democratic  way of  doing things.

[2020-08-04 01:07] elinguiuriel commented on #57
@prilcool you have a great point here! Please feel free to translate any language you are fluent in. The translation is a small part of the project, and it is not the easiest, it's quite a time-consuming and error-prone. Because we are a large global community as you noted, I thought it will be better to let such specialized tasks to people most able to understand their translation, and not waste

[2020-08-04 01:52] elinguiuriel opened #95 "The bot flow should be testable"
#### Describe the bug
There is no way to test the bot flow because the object `messenger` is passed as an argument in

[code]

These functions should always return a list containing the sequence of requests and actions to perform. We will be able to test the validity of the list in unit test.

[2020-08-04 02:02] elinguiuriel opened #96 "Prevent the Chatbot to Send the same message multiple time"
#### Describe the bug
In some occasion, the Chatbot send the same message multiple time
Someone have a solution for this misbehavior, cause unknown, maybe :
- Heroku
- the synchronous nature of the app, explore this #35
- ...

#### To Reproduce
it happen random when heroku is asleep (try here : https://m.me/OpenSourceChatbot

#### Expected behavior
The same message should not be send multiple time

[2020-08-04 08:05] aboullaite commented on #57
@prilcool if you read carefully the discussion here, you should mention that exactly what I was advocating for and what we agreed to do from now on. Relying solely on GT for translating to other languages will generate a negative experience as mentioned by @elinguiuriel

[2020-08-04 08:08] aboullaite commented on #96
My thinking aboit this one is when heroku receives no request, it switch to idle mode! Now when the first user sends the request, it takes to time to warm up the app, and the the messenger api sends multiple hooks to heroku, which answers afterwards 😅

[2020-08-04 10:21] prilcool commented on #57
@aboullaite  @elinguiuriel   Ah  i see now, after testing with other language  apart from Chinese, for some language   gt translate  is not so good and funny  ok we leave translation to native speakers .

[2020-08-06 18:50] mohitacecode commented on #37
Hey @aboullaite, I was gone for too long sorry about that I have some quick questions:

Is there any code for web pages for any other thing where we will add the contributor's web page?

[2020-08-06 23:45] aboullaite commented on #37
@mohitacecode I didn't get it? what do you mean ?

[2020-08-07 10:21] vj-codes opened #98 "Improve setup instructions"
#### Describe the bug
git clone https://github.com/fbdevelopercircles/open-source-edu-bot should be changed to
git clone https://github.com/fbdevelopercircles/YOUR_GITHUB_USER_NAME/open-source-edu-bot (not a link )

And git remote , command to check if git remote works should be added to help users contribute .

[2020-08-07 10:25] vj-codes commented on #98
@aboullaite may I work on this?

[2020-08-07 12:03] aboullaite commented on #98
Go ahead 👍

[2020-08-07 14:06] Emile-Nsengimana commented on #57
I would like to add Kinyarwanda (code:rw) translation!

[2020-08-08 04:48] elinguiuriel opened #103 "iKinyarwanda Translation problem"
#### Describe the bug
After pushing #99 to production it turns out that there are some issues to be resolved

Look [here](https://github.com/fbdevelopercircles/open-source-edu-bot/pull/99) to see my comment

This is the error generated by that bad formatted translation

[code]

[2020-08-08 15:45] #98 closed

[2020-08-08 21:56] #103 closed

[2020-08-10 01:56] liberty73 opened #107 "I don't have a laptop and am passionate about coding"
I am liberty from Nigeria, I don't know if am not in line with the code of conduct but I need to make my plea, to any one how cares to help someone in desperate need of assistance, I am very passionate about coding and know what my abilities are looking, and all my passion is going down the drain because I lack the necessary tools needed to continue and succeed in my dreams of becoming an expert w

[2020-08-10 01:56] liberty73 commented on #107
My number +2349023998873

[2020-08-10 02:35] TrojanTarun commented on #35
Hello Sir,
being a very first step towards open source contribution,
I would like to work on this issue .

[2020-08-14 07:11] merrcury commented on #96
Heroku's Pricing model for Hobby project keeps web app in off state if It did not receive a request for too long. So, When you make a request, It basically takes time to get the app-server started and It's quite slow.  So, I recommend you to use Azure, Its app service model is free and won't go to sleep like Heroku.

[2020-08-14 11:16] vj-codes commented on #35
@elinguiuriel @aboullaite should I create a chat.py file in src and add the code there?
Also is this resource correct? https://eventlet.net/doc/examples.html#multi-user-chat-server

[2020-08-14 11:46] pixan198 commented on #57
I would like to translate it to Gujarati (India) `ISO 639-1 code: gu`

[2020-08-18 03:23] #3 closed

[2020-08-20 03:50] LuisFerTR commented on #57
Hi, I would like to add spanish (code: es) translation!

[2020-08-20 06:55] elinguiuriel commented on #57
@LuisFerTR please yourself 👍

[2020-08-20 17:30] elinguiuriel opened #122 "ar_AR supported by Messenger, but not by Babel"
#### Describe the bug
Translation do not work for Arabic because de translation module Babel do not support ar_AR

[code]
#### Expected behavior
We ne to find  a way to map `ar_AR` to `ar`

#### Additional context
Put your facebook default language to Arabic

[2020-08-20 18:04] #122 closed

[2020-08-21 00:23] LuisFerTR opened #124 "FB_VERIFY_TOKEN is none when is already set in .env file"
Hi, I'm trying to setup the project but I have an issue checking webhook, when I execute

 `curl -X GET "<YOUR HOST>/webhook?hub.verify_token=<YOUR VERIFY TOKEN>&hub.challenge=CHALLENGE_ACCEPTED&hub.mode=subscribe&init_bot=true"`

replacing `<YOUR HOST>` by `localhost:5000` and `<YOUR VERIFY TOKEN>` by the string I wrote on .env file
I only receive "CHALLENGE_ACCEPTED", executing  `curl -X GET "<Y

[2020-08-27 15:17] elinguiuriel commented on #124
@LuisFerTR make sure to update your URL to match what you define in .env

[2020-09-06 14:19] vj-codes commented on #124
@LuisFerTR hey the token  mentioned here is generated on the facebook page , you have just copy and paste that and it works fine.Do update if it isn't:)

[2020-09-06 16:20] LuisFerTR commented on #124
Oh I see, I'm a little lost, where can I get the token generated on the facebook page? I think it could be any string in the .env file and copy and paste in curl command.

[2020-09-06 16:55] vj-codes commented on #124
@LuisFerTR see [this](https://github.com/fbdevelopercircles/open-source-edu-bot#setting-up-your-messenger-app) part.
I followed the same and it worked:)

[2020-09-06 21:00] LuisFerTR commented on #124
I already have APP_ID, APP_SECRET, PAGE_ID and FB_PAGE_TOKEN, but I still missing FB_VERIFY_TOKEN, where can I find it?
I appreciate your help.

[2020-09-06 21:39] vj-codes commented on #124
@LuisFerTR the verify token is the page_ access_token which is displayed next to the page_id . Generate that token, and add it to the  . env file
I had set up it up locally long back so don't have any screen shots now
If you don't get it, I'll add the ss later:)

[2020-09-06 22:29] LuisFerTR commented on #124
I'm here, I added access token as FB_VERIFY_TOKEN in my .env file, I'm still only getting "CHALLENGE ACCEPTED".
SS from where I took the access token:
[https://drive.google.com/file/d/1ERw1VJ71Scqpio3Th4RVjG7_uUae7SMA/view?usp=sharing](url)

[2020-09-07 04:54] vj-codes commented on #124
@LuisFerTR although I don't understand the language but that's the correct ss
Where are you getting challenge accepted?

[2020-09-08 02:55] LuisFerTR commented on #124
I'm sorry for not giving you a trasnlation, I'm getting "challenge accepted" in the next instruction:
`curl -X GET "<YOUR HOST>/webhook?hub.verify_token=<FB_VERIFY_TOKEN>&hub.challenge=CHALLENGE_ACCEPTED&hub.mode=subscribe&init_bot=true"`
YOUR HOST is replaced with localhost:5000 and FB_VERIFY_TOKEN by the token in the ss, first I added the token in the ss to the .env file in FB_VERIFY_TOKEN varia

[2020-09-08 06:01] vj-codes commented on #124
@LuisFerTR if you want  to run the repo locally then just do `pybabel compile -d locales` and `flask run` make sure the app_url in .env is LocalTunnel .
This step can be ignored if your first goal is to run it successfully

[2020-10-03 04:55] iamrajiv opened #130 "Adding Flake8 and Black linter"
Black is the uncompromising Python code formatter. By using it, you agree to cede
control over minutiae of hand-formatting. In return, Black gives you speed,
determinism, and freedom from `pycodestyle` nagging about formatting. You will save time
and mental energy for more important matters.

Flake8 is a Python library that wraps PyFlakes, `pycodestyle` and Ned Batchelder’s McCabe script. It is a

[2020-10-03 04:56] iamrajiv commented on #130
@elinguiuriel I want to work on this.

[2020-10-03 08:54] elinguiuriel commented on #130
@iamrajiv please can you explain how you will implement it first?

As you can see here:
https://github.com/fbdevelopercircles/open-source-edu-bot/blob/e016a83de92230b21279142c6b2ed35ba2cc2a70/.github/workflows/main.yml#L22
and here :
https://github.com/fbdevelopercircles/open-source-edu-bot/blob/e016a83de92230b21279142c6b2ed35ba2cc2a70/requirements.txt#L13

This project already uses flake8 as code

[2020-10-03 09:40] iamrajiv commented on #130
@elinguiuriel Since, Flake8 is already implemented so we can go fro Black. Black makes code review faster by producing the smallest diffs possible. Blackened code looks the same regardless of the project you’re reading. Formatting becomes transparent after a while and you can focus on the content instead.

I will implement Black by adding `black.yml` file workflows.
[code]

[2020-10-03 20:17] elinguiuriel commented on #130
@iamrajiv I do really appreciate your proposition, I think using flake8 and [black](https://github.com/psf/black) is in some aspect redundant. Also, you specify `conda` we do not use a specific environment in the project as it has to be able to work everywhere.
When formatting the code black can bring some issues with the translation alignment.
Do you understand my point, have any other improvemen

[2020-10-04 04:59] #130 closed

[2020-10-05 17:28] #107 closed

[2020-10-05 18:32] Awinja-j commented on #96
Thanks for the recommendation @merrcury

[2020-10-05 18:34] #7 closed

[2020-10-06 20:33] shah78677 commented on #57
I would like to add Urdu language. ur_PK

[2020-10-10 15:05] liberty73 commented on #107
Hi where are you from

On Monday, October 5, 2020, Joan Awinja Ingari <notifications@github.com>
wrote:

[2020-12-14 08:32] MohitPatni0731 commented on #95
Can I take up this issue

[2020-12-15 02:48] elinguiuriel commented on #95
@MohitPatni0731 please yourself 👍

[2020-12-15 05:07] MohitPatni0731 commented on #95
I am very new to programming and I've just learned basics of Python. Can you little bit help me solve this bug.

[2020-12-15 09:52] elinguiuriel commented on #95
This is an advanced issue, I am afraid it is not beginner friendy :-( !

[2021-01-22 03:38] stonefix commented on #57
Hi! I am a native Russian speaker and I would like to add Russian language.

[2021-01-22 05:21] elinguiuriel commented on #57
Please yourself @stonefix the russian code is `ru_RU` according to [this](https://developers.facebook.com/docs/messenger-platform/messenger-profile/supported-locales)

[2022-01-17 19:35] shubhankarsharma876 commented on #57
Hey thanks @elinguiuriel for attaching that list.

[2022-01-17 20:21] shubhankarsharma876 commented on #57
I will add Kannada (INDIA) transcript with code ```kn_IN``` according to [this](https://developers.facebook.com/docs/messenger-platform/messenger-profile/supported-locales)

[2022-01-17 20:47] shubhankarsharma876 commented on #57
This is my first contribution to any project and I know this could be a silly question, But...
I have a query
 (venv) $ curl -X GET "<YOUR HOST>/webhook?hub.verify_token=<YOUR VERIFY TOKEN>&hub.challenge=CHALLENGE_ACCEPTED&hub.mode=subscribe&init_bot=true"

what do I have to put in place of "YOUR HOST" and "YOUR VERIFY TOKEN"?
And do I have to run this code before starting contribution?

[2022-01-18 12:28] shubhankarsharma876 commented on #57
I ran this code [ (venv) $ pybabel extract -F babel.cfg -k lazy_gettext -o locales/messages.pot .] in my git but showed the below error.

Please provide me some fixes: I installed the anaconda and python 3.10.2 properly with the path. But still getting this error

$ pybabel extract -F babel.cfg -k lazy_gettext -o locales/messages.pot .        Traceback (most recent call last):
  File "C:\Users\shu